@import "tailwindcss";

@plugin './Hero.js';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

body {
  background: rgba(0, 255, 255, 0.448);
  min-height: 100vh;
}
.Feedpage , .SinglePostPage , .ProfilePage , .SinglePostPage {
  min-height: 100vh;
}